$root = 37.5

vantRem(p)
  unit(p / $root,rem)

/deep/ .van-stepper
  .van-stepper__minus
  .van-stepper__plus
    width vantRem(48)
    height vantRem(48)
    background-color #fff
    border-radius vantRem(4)
    border vantRem(2) solid #D9D9D9
  
  .van-stepper__input
    width 2.08rem
    height 1.28rem
    font-size 0.76666rem
    padding 0
    border 0
  
  .van-stepper__plus
    border vantRem(2) solid #0169D9
    &:after
    &:before
      background-color: #0169D9;

  .van-stepper__minus:before
  .van-stepper__plus:before
    height vantRem(2)
    width vantRem(18)

  .van-stepper__minus:after
  .van-stepper__plus:after
    height vantRem(18)
    width vantRem(2)

/deep/ .van-radio__input
  font-size vantRem(40)
  .van-icon-checked
    color #0169D9

/deep/ .van-loading
  width vantRem(60)
  height vantRem(60)
  padding vantRem(20)
  border-radius vantRem(10)
  margin 0 auto